<!doctype html>
<html>
<head>
    <title>WF</title>
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="http://sugarjs.com/release/current/sugar.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="http://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>
<body>
    <h1>Welcome to WF</h1>
    <script>
        var socket = io.connect();

        socket.on('word', function(data) {
            if (data.type && data.letters) {
                var type = toggleType(data.type);
                var letters = data.letters
                if (type=="begin") $('#begin').val(letters).attr("disabled", true);
                else (type=="end") $('#end').val(letters).attr("disabled", true);
            } else console.log('INVALID');
        });
    </script>
    <input type="text" id="begin"/><input type="text" id="end"/><br>
    <input type="submit" value="yolo" />
</body>
